// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login
{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 50%;
  top: 50%;
  height: -50%;
  margin-left: - 100px;
  margin-top: -50px;
}